<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<head>
    <meta charset="UTF-8"/>
    <title>This is application main screen - SpringBoot - OTP page -</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container">
    <div class="starter-template">
        <h1>The main application screen</h1>
        <a th:inline="text">Hello user: [[${#httpServletRequest.remoteUser}]]!</a>
        <span sec:authorize="isAuthenticated()">
	                Logged as: <span sec:authentication="name"></span>
                    Roles: <span sec:authentication="principal.authorities"></span>
        	        <a th:href="@{/login}">Press to back login screen</a>
        </span>
        <form id="sendOtp" name="sendOtp" method="post">
            <fieldset>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Something wrong!
                    </div>
                </div>
                <div class="form-group">
                <input type="text" label="Enter email" name="email" id="email" placeholder="Enter email to send One Time Password"
                       class="form-control input-lg" required="true" autofocus="true"/>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
<!--                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit"/>-->
                        <button type="button" id="button">Press to send code</button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                </div>
            </div>
            </fieldset>
        </form>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // $("#sendOtp").submit(function (event) {
            $("#button").click(function (event) {
        //stop submit the form, we will post it manually.
            event.preventDefault();
            var data  = 'email='+$("#email").val();
            $.ajax({
                type: "GET",
                url:  "/generateOtp",
                data: data,
                dataType: 'text',
                cache: true,
                timeout: 600000,
                success : function(response) {
                    window.location='otppage';
                },
                error : function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });

    });

</script>
</body>
</html>